<nav class="navbar navbar-expand-md navbar-header-auth">
    <div class="container">
        <div class="d-flex align-items-center">
            <h2>Invoice Template Generator</h2>
            <h5 class="text-center">Fill in your business details in the invoice template below to create a professional invoice for your customers.</h5>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="app-shell-footer">
    <div class="container pt-3 pb-3">
        <p class="text-center mb-0">© {{ today | date: "yyyy" }} Localadventures, Stuntshare, Inc. <a href="https://localadventures.mx/politicas-de-privacidad">Politica de Privacidad</a>&nbsp;-&nbsp;<a href="https://localadventures.mx/terminos-y-condiciones">Términos y Condiciones</a></p>
    </div>
</footer>