app-shell-auth {
    .navbar-header-auth {
        padding: 0;

        .container {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;

            background-image: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/circleLight2.svg);

            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center center;
            -webkit-animation: backgroundHeaderAnimation 20s linear infinite;
            animation: backgroundHeaderAnimation 20s linear infinite;
        }

        h2 {
            line-height: 1.3125;
            font-weight: 700;
        }
        h5 {
            font-weight: 700;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    app-shell-auth {
        .navbar-header-auth {
            .container {
                padding-left: 1.25rem;
                padding-right: 1.25rem;                

                h2 {
                    text-align: center;
                }
                & > .d-flex {
                    display: block!important;
                }
            }
        }
    }
}