$primary-color: #ff7a59;
$secundary-color: #ff8f59;
$header-text-color: white;
$text-color: #33475b;

$form-primary: #00bda5;
$form-secundary: #00a4bd;

$background-jumbotron: #f2f5f8;
$highlight-color: #ff7a59;

/** BEGIN - how to use */
$form-control-color: #2d3e50;
/** END - how to use */

/** BEGIN - insert invoice */
$error-color: #ef3b49;
$invoice-data-footer-color: #7c98b6;
$total-separator-color: #425b76;
$percent-money-color: #fd8f5f;
$comment-background-color: #f1f1f1;
/** END - insert invoice */