.jumbotron {
    border-radius: 0;
}
.jumbotron-invoice {
    padding-bottom: 1.5em;
}

@media (min-width: 1200px) {
    .section-2 {
        .container {
            max-width: 900px;
            padding-right: 0;
            padding-left: 0;
        }
    }
}