@mixin invoice-component-theme() {
    .modal-form {
        background: linear-gradient(-90deg, $form-primary, $form-secundary);

        label, .modal-form-step-title {
            color: $header-text-color;
        }
    }

    .jumbotron-invoice {
        background-color: $background-jumbotron;
    }

    .invoice-highlight:hover,
    .invoice-highlight:focus {
        border-color: $highlight-color;
    }
}
