@mixin invoice-component-theme() {
    .modal-form {
        background: linear-gradient(-90deg, $form-primary, $form-secundary);

        label, .modal-form-step-title {
            color: $header-text-color;
        }
    }

    .jumbotron-invoice {
        background-color: $background-jumbotron;
    }

    .invoice-highlight:hover,
    .invoice-highlight:focus {
        border-color: $highlight-color;
    }

    /** BEGIN - how to use */
    .wrapper-who-you-are {
        .form-control {
            font-size: 1em;
            color: $form-control-color;
            background-color: rgba(255, 255, 255, .9);
            outline: none;
            border: none;
            padding: .375rem .75rem;
            border-radius: .25rem;
        }
    }
    /** END - how to use */
}
