.faq-section-title {
    font-weight: 700;
    margin-bottom: 3em;
}

.faq-list {
    dd {
        padding: 1rem 1rem 0 2rem;

        overflow: hidden;
        max-height: 0;

        transform: translateY(-0.625rem);
        transition: max-height 0.2s ease, opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        opacity: 0;
    }
    dt {
        background: #fd8f5f; /** here */

        .faq-title {
            display: block;
            position: relative;
            cursor: pointer;
            padding: 1rem 1rem 1rem 2rem;
            color: #fff; /** here */

            font-size: 2rem;
            line-height: 1.3125;
            font-weight: 700;
            margin-bottom: 0;

            i {
                position: relative;
                bottom: 3px;
                min-width: 20px;
                margin-right: auto;
                font-size: 20px;
            }
        }

        &:not(.faq-open) {
            .faq-icon-open {
                display: none;
            }
        }
        &.faq-open {
            .faq-icon-close {
                display: none;
            }

            & + dd {
                overflow-y: auto;
                max-height: 100vh;
                transform: translateY(0);
                opacity: 1;

                background: #f7f7f7; /** here */
            }
        }
    }
}

.faq-footer {
    margin-top: 3em; 
    margin-bottom: 2em;
    font-size: 13px;

    p {
        // max-width: 900px;
        margin: 0 auto;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .faq-list {
        dt {
            .faq-title {
                font-size: 1.5rem;

                i {
                    bottom: 0;
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .faq-list {
        dt {
            .faq-title {
                font-size: 1.2rem;

                i {
                    bottom: 0;
                }
            }
        }
    }
}