<h4>How to Use the Free Invoice Template Generator</h4>
<p>Use this free invoice generator to create and download professional invoices to send to your customers. Start by filling in your business details in the invoice template below to populate the statement. You can add additional line items by clicking the “+ Add More” button. When you’re done with the details, click on the tools icon to the left to customize your color scheme. When complete, click the “Download Now” button to download the invoice PDF.</p>
<p>Once you’ve downloaded the invoice, send it to your customers via email or print it and mail it directly.</p>

<h5>Looking for more blank invoice templates to choose from?</h5>
<p>We’ve created 10 <a href="/">free invoice templates</a> for Microsoft Word to meet all of your invoicing needs. Simply fill out the form below to access the templates. The templates are fully editable and can be downloaded as a PDF to send off to your customers. These <a href="/">free invoice templates</a> come in a variety of colors and designs and are fully customizable, so you’re bound to find one that suits your brand. </p>

<div class="wrapper-who-you-are">
    <div class="form-steps">
        <div class="modal-form">
            <div class="modal-form-header"></div>
            <div class="modal-form-body">
                <div class="modal-form-step-1">
                    <h4 class="modal-form-step-title">Hi 👋  What's your name?</h4>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control text-center" id="firstName" placeholder="John">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control text-center" id="lastName" placeholder="Smith">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>