.jumbotron {
    margin-bottom: 0;
}
.jumbotron-white {
    background-color: white;
}

a {
    color: #ff4c1f;

    &:hover {
        color: #ff3300;
    }
}

/** BEGIN - form */

.btn, .btn-lg {
    border-radius: 0;
}

.custom-control {
    .custom-control-label {
        cursor: pointer;

        &:before {
            background-color: #a2dada;
        }
    }
    
    &.custom-control-block {
        padding-left: 1em;
        margin-right: 1em;
        min-height: 3.5em;

        .custom-control-label {
            &:before {
                top: 1.8rem;
                left: 50%;
            }
            &:after {
                top: 1.8rem;
                left: 50%;
            }
        }
    }
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #007a8a;
}


.form-control {
    font-size: 0.9em;
    color: #2d3e50;
    background-color: transparent;
    outline: none;
    border: 1px dashed transparent;
    padding: 0;
    border-radius: 0;

    &:focus {
        box-shadow: none;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #7c98b6!important;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #7c98b6!important;
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: #7c98b6!important;
    }
}

.form-group {
    margin-bottom: 0;

    &.text-error {
        .form-control {
            color: #ef3b49;

            &:focus {
                box-shadow: none;
            }

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #ef3b49!important;
                opacity: 1; /* Firefox */
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #ef3b49!important;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: #ef3b49!important;
            }
        }
    }
}

.btn-danger {
    font-size: 1em;
    font-weight: 600;
    padding: 1em 2em;
    
    background-color: #ff7a59;
    border-color: #ff7a59;

    &:hover, &:focus, &:active:focus {
        background-color: #ff8f73;
        border-color: #ff8f73;
        box-shadow: none!important;
    }
}

/** END - form */

.c100.green .bar, .c100.green .fill {
    border-color: white !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1080px;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

/** ANIMACIONES Y PERSONALIZACIONES */

@-webkit-keyframes backgroundHeaderAnimation {
    0% { background-position: 0% -100% } 100% { background-position: 0% 200% }
}

@keyframes backgroundHeaderAnimation {
    0% { background-position: 0% -100% } 100% { background-position: 0% 200% }
}

@keyframes blowUpModal {
    0% { transform:scale(0); } 100% { transform:scale(1); }
}
@keyframes blowUpModalTwo { 
    0% { transform:scale(1.2); } 100% { transform:scale(1); }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6f757a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #31475e; 
}